*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

$m-inlign: calc(100vw / 24 * 1);
$s-p-inline: 7.5rem;
$border-radius: 0.25rem;

$white: rgba(238, 238, 238, 1);
$black: rgba(2, 2, 3, 1);
$lightMode-gray: rgba(196, 196, 196, 1);
$mid-gray: rgba(178, 178, 178, 1);
$darkMode-gray: rgba(80, 80, 80, 1);
$lightMode-red: rgba(255, 26, 26, 1);
$darkMode-red: rgba(229, 7, 7, 1);
// $darkMode-red: rgba(153, 0, 0, 1);

@import url("https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Reenie+Beanie&display=swap");

body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: "Asta Sans", sans-serif;
  scroll-snap-type: y mandatory;
  section {
    max-width: 120rem;
    min-width: 40rem;
    min-height: 100vh;
    margin: auto;
    padding-inline: $s-p-inline;
    position: relative;
    scroll-snap-align: start;
  }
  section:nth-of-type(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  hr {
    border-width: 0.0625rem 0 0 0;
  }
}

.s1 {
  overflow-y: hidden;
  &__arrow__line {
    height: calc(100% - 1.25rem);
    position: absolute;
    left: 50%;
    bottom: 1.25rem;
    transform: translateX(-50%);
    z-index: -2;
    border-left: 0.25vw solid;
  }
  &__arrow__head {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    bottom: 1.4rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -2;
    border-bottom: 0.25vw solid;
    border-right: 0.25vw solid;
  }
  &__cmps {
    display: flex;
    gap: 2vw;
    position: absolute;
    width: calc(100vw - 2 * ($s-p-inline + 2vw));
    left: 50%;
    bottom: 3rem;
    z-index: -1;
    transform: translateX(-50%);
    &__cmp {
      width: 100%;
      height: auto;
      position: relative;
      .bg {
        width: 100%;
        height: auto;
      }
      .needle {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
    }
  }
}

.s__header__info {
  padding-block: 1.25rem;
  text-align: center;
  .s__header__info__title {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
    font-family: "Reenie Beanie", cursive;
  }
  .s__header__info__title__text {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.25rem 1.75rem 1rem 1.75rem;
    h2 {
      padding-bottom: 0.75rem;
      font-size: clamp(1.5rem, 4vw, 2.75rem);
    }
    p {
      padding-bottom: 0.625rem;
      font-size: 1.25rem;
      text-align: left;
      word-break: keep-all;
      font-weight: 350;
      line-height: 1.375;
      opacity: 0.9;
    }
    p:nth-of-type(2) {
      font-size: 1.1875rem;
      line-height: 1.5;
    }
  }
}

.s2 {
  &__header {
    position: sticky;
    top: 0;
    z-index: 2;
    #BtnContainer {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      padding-block: 1.25rem;
      .btn {
        width: 4rem;
        height: 2rem;
        border: none;
        border-radius: $border-radius;
        font-family: "Asta Sans", sans-serif;
        cursor: pointer;
      }
    }
  }
  .projects {
    margin: 7.5rem auto;
    &__list {
      width: 100%;
      margin-bottom: 4.5rem;
      &__pre {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        visibility: hidden;
        pointer-events: none;
        img {
          width: clamp(6rem, 8vw, 8.75rem);
          aspect-ratio: 4 / 3;
          object-fit: cover;
          object-position: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%)
            scale(1);
          border-radius: $border-radius;
          transition: transform 1s ease;
        }
      }
      a {
        width: 100%;
        text-decoration: none;
        .projects__list__info {
          display: grid;
          grid-template-columns: 12vw 1fr 24vw;
          gap: 3rem;
          width: 100%;
          font-size: clamp(1.25rem, 2vw, 2.25rem);
          word-break: keep-all;
          &__date,
          &__name {
            text-align: left;
          }
          &__detail {
            text-align: right;

            p:nth-of-type(2) {
              font-size: clamp(
                0.75rem,
                1.5vw,
                1.75rem
              );
            }
          }
        }
      }
      a:hover {
        opacity: 0.3;
        transition: opacity 1s ease;
      }
    }
  }
}

.filterDiv {
  overflow: hidden;
}

.show {
  display: block;
}

.s3 {
  .arrow-grid {
    display: grid;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4vw;
      transform-origin: center;
      transition: transform 0.1s linear;
    }
  }
  .cross-grid {
    display: grid;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .cross {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2vw;
      font-weight: 100;
      opacity: 0.3;
    }
  }
}

.btn__1 {
  position: fixed;
  top: 0;
  right: -90vw;
  display: flex;
  height: 100vh;
  z-index: 3;
  transition: right 1.5s ease;
  .sideBtn {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    right: 0;
    width: 4.5rem;
    box-sizing: border-box;
    padding-top: 1.25rem;
    &__top {
      display: flex;
      height: 12rem;
      padding-left: 0.25rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      writing-mode: vertical-rl;
      border-radius: $border-radius 0 0
        $border-radius;
      cursor: pointer;
    }
    &__mid {
      width: 100%;
      height: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: $border-radius 0 0
        $border-radius;
      cursor: pointer;
      svg {
        width: 60%;
      }
    }
  }
  .sideBtn__top__container {
    display: flex;
    width: 90vw;
    height: 100vh;
    flex-direction: column;
    z-index: 3;
    overflow-y: hidden;
    transition: none;
    &__info:nth-of-type(1) {
      padding-bottom: 1.5rem;
    }
    &__info {
      margin-inline: $m-inlign;
      font-size: clamp(1.5rem, 4vw, 2.75rem);
    }
    .d-arrow {
      padding-block: 2vw;
      font-size: clamp(1.25rem, 2vw, 2.25rem);
      font-weight: 800;
      animation: bounceArrow 1s ease-in-out
        infinite;
    }
    button {
      background-color: transparent;
      border: none;
      font-size: clamp(1.5rem, 4vw, 2.75rem);
    }
    .copy {
      display: inline-block;
      position: relative;
    }
    .copy::after {
      content: "";
      width: 0;
      height: 0.25rem;
      position: absolute;
      left: 0;
      bottom: 0;
      margin-bottom: -0.375rem;
      transition: all 0.75s;
    }
    .copy:hover {
      cursor: pointer;
    }
    .copy:hover::after {
      width: 100%;
    }
    &__btm {
      display: flex;
      width: 100%;
      justify-content: center;
      left: 0;
      bottom: 0;
      z-index: 4;
      p {
        position: absolute;
        margin-inline: $m-inlign;
        bottom: -3.5vw;
        z-index: 4;
        font-size: clamp(3rem, 11.5vw, 12.5rem);
        font-weight: 600;
      }
      img {
        width: 40vw;
        position: absolute;
        right: 4vw;
        bottom: 0;
        z-index: 3;
      }
    }
  }
}

body.side-open .btn__1 {
  right: 0;
}

@keyframes bounceArrow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.6vw);
  }
}

.c__toast {
  position: absolute;
  padding: 0.5rem 0.75rem;
  border-radius: $border-radius;
  font-size: clamp(0.75rem, 1.5vw, 1.75rem);
  white-space: nowrap;
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  10% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.theme-light {
  background-color: $white;
  color: $black;
  .s1 {
    .s__header__info {
      background-image: linear-gradient(
        180deg,
        rgba($white, 1) 20%,
        rgba($white, 0.5) 80%,
        rgba($white, 0) 100%
      );
    }
    .s1__arrow__line {
      border-color: $lightMode-red;
    }
    .s1__arrow__head {
      border-color: $lightMode-red;
    }
  }
  .s2__header {
    background-image: linear-gradient(
      180deg,
      rgba($white, 0.9) 20%,
      rgba($white, 0) 100%
    );
  }
  .btn {
    background-color: $lightMode-gray;
  }
  & .active {
    background-color: $black;
    color: $white;
  }
  .btn:hover {
    background-color: $lightMode-red;
    color: $black;
    transition: all 0.5s ease-in-out;
  }
  .projects__list__info {
    color: $black;
  }
  .sideBtn__mid {
    background-color: $black;
    svg path {
      fill: $white;
    }
  }
  .sideBtn__top {
    background-color: $black;
    color: $white;
  }
  .sideBtn__top__container {
    background-color: $black;
    color: $white;
    .sideBtn__top__container__info {
      color: $lightMode-gray;
      button {
        color: $lightMode-gray;
      }
    }
    .copy::after {
      background-color: $lightMode-gray;
    }
  }
  .c__toast {
    background-color: $white;
    color: $black;
  }
}

.theme-dark {
  background-color: $black;
  color: $white;
  .s1 {
    .s__header__info {
      background-image: linear-gradient(
        180deg,
        rgba($black, 1) 20%,
        rgba($black, 0.5) 80%,
        rgba($black, 0) 100%
      );
    }
    .s1__arrow__line {
      border-color: $darkMode-red;
    }
    .s1__arrow__head {
      border-color: $darkMode-red;
    }
  }
  .s2__header {
    background-image: linear-gradient(
      180deg,
      rgba($black, 0.9) 20%,
      rgba($black, 0) 100%
    );
  }
  .btn {
    background-color: $darkMode-gray;
    color: $white;
  }
  & .active {
    background-color: $white;
    color: $black;
  }
  .btn:hover {
    background-color: $darkMode-red;
    color: $black;
    transition: all 0.5s ease-in-out;
  }
  .projects__list__info {
    color: $white;
  }
  .sideBtn__mid {
    background-color: $white;
    svg path {
      fill: $black;
    }
  }
  .sideBtn__top {
    background-color: $white;
    color: $black;
  }
  .sideBtn__top__container {
    background-color: $white;
    color: $black;
    .sideBtn__top__container__info {
      color: $darkMode-gray;
      button {
        color: $darkMode-gray;
      }
    }
    .copy::after {
      background-color: $darkMode-gray;
    }
  }
  .c__toast {
    background-color: $black;
    color: $white;
  }
}

@media screen and (max-width: 80rem) {
  body {
    section {
      padding-inline: 5rem;
    }
  }
  .s2 {
    .projects {
      .projects__list {
        a {
          .projects__list__info {
            grid-template-columns: 17vw 1fr 24vw;
            gap: 1.5rem;
          }
        }
      }
    }
  }
  .btn__1 {
    .sideBtn {
      gap: 0.5rem;
      width: 3.9375rem;
      &__top {
        height: 9.75rem;
        padding-left: 0.25rem;
        font-size: 1.5rem;
      }
      &__mid {
        width: 100%;
        height: 3.9375rem;
      }
    }
  }
}
// @media screen and (max-width: 640px) {

// }
