@import url("https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Reenie+Beanie&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  user-select: none !important;
}

body {
  font-family: "Asta Sans", sans-serif;
}
body section {
  max-width: 120rem;
  min-width: 40rem;
  margin: auto;
  padding-inline: 120px;
  position: relative;
  padding-top: 7.5rem;
  padding-bottom: 3.75rem;
}
body section h1 {
  font-size: clamp(1.5rem, 4vw, 2.75rem);
}
body section .wrapper {
  margin: 2.5rem 0 5rem 0;
}
body section .wrapper img,
body section .wrapper video {
  display: block;
  width: 100%;
  height: auto;
}
body section p {
  font-size: clamp(0.75rem, 2vw, 1.625rem);
  text-align: center;
}

.btn__1 {
  position: fixed;
  top: 0;
  right: -90vw;
  display: flex;
  height: 100vh;
  z-index: 3;
  transition: right 1.5s ease;
}
.btn__1 .sideBtn {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  right: 0;
  width: 4.5rem;
  box-sizing: border-box;
  padding-top: 1.25rem;
}
.btn__1 .sideBtn__top {
  display: flex;
  height: 12rem;
  padding-left: 0.25rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}
.btn__1 .sideBtn__mid {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}
.btn__1 .sideBtn__mid svg {
  width: 60%;
}
.btn__1 .sideBtn__top__container {
  display: flex;
  width: 90vw;
  height: 100vh;
  flex-direction: column;
  z-index: 3;
  overflow-y: hidden;
  transition: none;
}
.btn__1 .sideBtn__top__container__info:nth-of-type(1) {
  padding-bottom: 1.5rem;
}
.btn__1 .sideBtn__top__container__info {
  margin-inline: 4.1666666667vw;
  font-size: clamp(1.5rem, 4vw, 2.75rem);
}
.btn__1 .sideBtn__top__container .d-arrow {
  padding-block: 2vw;
  font-size: clamp(1.25rem, 2vw, 2.125rem);
  font-weight: 800;
  animation: bounceArrow 1s ease-in-out infinite;
}
.btn__1 .sideBtn__top__container button {
  background-color: transparent;
  border: none;
  font-size: clamp(1.5rem, 4vw, 2.75rem);
}
.btn__1 .sideBtn__top__container .copy {
  display: inline-block;
  position: relative;
}
.btn__1 .sideBtn__top__container .copy::after {
  content: "";
  width: 0;
  height: 0.25rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -0.375rem;
  transition: all 0.75s;
}
.btn__1 .sideBtn__top__container .copy:hover {
  cursor: pointer;
}
.btn__1 .sideBtn__top__container .copy:hover::after {
  width: 100%;
}
.btn__1 .sideBtn__top__container__btm {
  display: flex;
  width: 100%;
  justify-content: center;
  left: 0;
  bottom: 0;
  z-index: 4;
}
.btn__1 .sideBtn__top__container__btm p {
  position: absolute;
  margin-inline: 4.1666666667vw;
  bottom: -3.5vw;
  z-index: 4;
  font-size: clamp(3rem, 11.5vw, 12.5rem);
  font-weight: 600;
}
.btn__1 .sideBtn__top__container__btm img {
  width: 40vw;
  position: absolute;
  right: 4vw;
  bottom: 0;
  z-index: 3;
}

body.side-open .btn__1 {
  right: 0;
}

@keyframes bounceArrow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.6vw);
  }
}
.c__toast {
  position: absolute;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: clamp(0.75rem, 2vw, 1.625rem);
  white-space: nowrap;
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  10% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.theme-light {
  background-color: rgb(238, 238, 238);
  color: rgb(2, 2, 3);
}
.theme-light .sideBtn__mid {
  background-color: rgb(2, 2, 3);
}
.theme-light .sideBtn__mid svg path {
  fill: rgb(238, 238, 238);
}
.theme-light .sideBtn__top {
  background-color: rgb(2, 2, 3);
  color: rgb(238, 238, 238);
}
.theme-light .sideBtn__top__container {
  background-color: rgb(2, 2, 3);
  color: rgb(238, 238, 238);
}
.theme-light .sideBtn__top__container .sideBtn__top__container__info {
  color: rgb(196, 196, 196);
}
.theme-light .sideBtn__top__container .sideBtn__top__container__info button {
  color: rgb(196, 196, 196);
}
.theme-light .sideBtn__top__container .copy::after {
  background-color: rgb(196, 196, 196);
}
.theme-light .c__toast {
  background-color: rgb(238, 238, 238);
  color: rgb(2, 2, 3);
}

.theme-dark {
  background-color: rgb(2, 2, 3);
  color: rgb(238, 238, 238);
}
.theme-dark .sideBtn__mid {
  background-color: rgb(238, 238, 238);
}
.theme-dark .sideBtn__mid svg path {
  fill: rgb(2, 2, 3);
}
.theme-dark .sideBtn__top {
  background-color: rgb(238, 238, 238);
  color: rgb(2, 2, 3);
}
.theme-dark .sideBtn__top__container {
  background-color: rgb(238, 238, 238);
  color: rgb(2, 2, 3);
}
.theme-dark .sideBtn__top__container .sideBtn__top__container__info {
  color: rgb(80, 80, 80);
}
.theme-dark .sideBtn__top__container .sideBtn__top__container__info button {
  color: rgb(80, 80, 80);
}
.theme-dark .sideBtn__top__container .copy::after {
  background-color: rgb(80, 80, 80);
}
.theme-dark .c__toast {
  background-color: rgb(2, 2, 3);
  color: rgb(238, 238, 238);
}

@media screen and (max-width: 80rem) {
  body section {
    padding-inline: 5rem;
  }
  .btn__1 .sideBtn {
    gap: 0.5rem;
    width: 3.9375rem;
  }
  .btn__1 .sideBtn__top {
    height: 9.75rem;
    padding-left: 0.25rem;
    font-size: 1.5rem;
  }
  .btn__1 .sideBtn__mid {
    width: 100%;
    height: 3.9375rem;
  }
}